## .NET Core
bin/
obj/
*.dll
*.pdb
*.user

## IDE
.vs/
.idea/
*.suo
*.cache
*.editorconfig

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Paste\Files
Resources/*
Performace/*
